@-moz-document url-prefix("https://coinone.co.kr/balance/transfer") {
  balance-transfer {
    .dw-coin-wrap {
      &::after {
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          var(--bg-color)
        ) !important;
      }
    }

    .dw-detail-wrap,
    .dw-detail-header {
      background-color: transparent !important;
    }

    .dw-item.is-active {
      .dw-link {
        color: var(--active-font-color) !important;
      }
    }

    .list-header {
      background-color: var(--bg-color) !important;
      color: var(--font-color) !important;
    }

    .glyph-coin-krw,
    .btn-back,
    .page-subtitle,
    .box-title,
    .box-desc,
    .cell:not(.status),
    .form-label,
    .dw-info-item,
    .dw-link,
    .info-item,
    ul > li {
      color: var(--font-color) !important;
    }

    .box-desc b span {
      color: var(--highlight-color) !important;
    }

    .fake-input-addr,
    .information-box {
      background-color: var(--bg-color) !important;
      border: 1px solid;
      color: var(--font-color);
    }

    .dark,
    .dark a {
      color: var(--sub-font-color) !important;
    }
  }

  balance-transfer-list {
    .total-assets-label,
    .total-assets-value,
    .custom-label-txt,
    .sort-area {
      color: var(--font-color) !important;
    }

    .form-switch-wrap {
      background-color: var(--bg-color) !important;

      label {
        color: var(--font-color) !important;
      }
    }

    .dw-coin-item {
      background-color: var(--bg-color) !important;

      .coin-item-wrap,
      .ticker-name {
        color: var(--font-color) !important;
      }
    }

    .full-name,
    .sym-almost,
    .retention-rate {
      color: var(--sub-font-color) !important;
    }

    .form-switch-wrap .hide-checkbox:checked + .form-switch {
      background-color: var(--highlight-color);
    }

    .dw-coin-item.is-active::before {
      background-color: var(--highlight-color) !important;
    }
  }

  balance-transfer-history {
    .history-desc {
      color: var(--sub-font-color);
    }

    button {
      background-color: var(--bg-color) !important;
      color: var(--font-color) !important;
    }
  }
}
