@-moz-document url-prefix("https://coinone.co.kr/balance/history") {
  balance-history-filter {
    .sub-tab-item.is-active {
      color: var(--active-font-color) !important;
    }

    .space-both,
    .sub-tab-item {
      color: var(--font-color) !important;
    }

    .history-period-info {
      color: var(--sub-font-color) !important;
    }
  }

  balance-export-to-file {
    button {
      background-color: var(--bg-color) !important;
      color: var(--font-color) !important;
    }
  }
}
