@-moz-document url-prefix("https://coinone.co.kr/exchange") {
  .coinone-gnb {
    .gnb-inner,
    .mobile-sidebar,
    select {
      background-color: var(--body-color) !important;
    }
  }

  .trade-wrapper {
    background-color: var(--body-color);
    background-image: none;

    .grid-layout-item {
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
    }
  }

  .btn-bookmark span {
    color: var(--highlight-color) !important;
  }

  trade-chart-info {
    trade-chart-info-summary {
      .ticker-info,
      .text-segment-market,
      .icon-btn-ticker {
        color: var(--font-color) !important;
      }

      .icon {
        color: inherit !important;
      }
    }

    trade-chart-info-detail {
      .term {
        color: var(--font-color) !important;
      }

      .desc {
        color: var(--sub-font-color);
      }

      .unit {
        color: var(--sub-font-color) !important;
      }
    }

    trade-spark-line-chart {
      .svg-container {
        .main-svg:nth-child(1) {
          background-color: var(--bg-color) !important;
        }

        .js-fill {
          fill: var(--bg-color) !important;
        }
      }
    }
  }

  trade-tickers {
    .btn-segment-market {
      color: var(--font-color) !important;

      &.is-selected {
        background-color: var(--highlight-color) !important;
      }
    }

    trade-total-market-volume {
      .daily-volume {
        color: var(--font-color) !important;
      }
    }

    trade-market-ticker-list,
    trade-stared-ticker-list {
      .btn-sort,
      .coin-symbol,
      .volume-amount,
      .text-move-swap,
      .row-unit.is-zero {
        color: var(--font-color) !important;
      }

      .coin-name {
        color: var(--sub-font-color) !important;
      }

      .row-unit {
        border-color: transparent !important;
      }

      .icon-inp-radio::after {
        background-color: var(--highlight-color) !important;
      }
    }
  }

  trade-user-asset {
    .state-msg {
      background-color: var(--bg-color) !important;

      .msg {
        color: var(--font-color) !important;
      }
    }

    trade-asset-summary {
      color: var(--font-color);

      .title,
      .link-item--to-investment,
      .num {
        color: var(--font-color) !important;
      }
    }

    trade-asset-list {
      .list-header li,
      .coin-symbol,
      .row-unit {
        color: var(--font-color) !important;
      }

      .holding-asset .price {
        color: var(--sub-font-color) !important;
      }

      .earnings-rate .icon {
        color: inherit !important;
      }
    }
  }

  trade-chat {
    trade-chat-title {
      .tit,
      .user-nickname {
        color: var(--font-color) !important;
      }

      .user-lv {
        color: var(--sub-font-color) !important;
      }
    }

    trade-chat-messages {
      .msg {
        color: var(--font-color) !important;
      }

      .time {
        color: var(--sub-font-color) !important;
      }

      .btn-scroll-latest-msg {
        background-color: var(--bg-color) !important;
      }

      .btn-nick-name {
        border: none;
      }
    }

    trade-chat-form {
      .msg-box {
        background-color: var(--input-bg-color) !important;
        border: 1px solid var(--border-color) !important;
      }
    }
  }

  trade-realtime-transaction {
    trade-realtime-transaction-list {
      .table-header {
        li {
          background-color: var(--bg-color) !important;
        }

        .title {
          color: var(--font-color) !important;
        }
      }

      .num-time {
        color: var(--font-color) !important;
      }
    }
  }

  trade-order-book {
    trade-order-book-head {
      .list-order-book-header,
      .num-price-unit {
        color: var(--font-color) !important;
      }

      .dropdown-item {
        button {
          border: none;
        }
      }
    }

    trade-order-book-walls {
      .col-1,
      .col-blind {
        background-color: var(--bg-color) !important;
      }

      .col-blind {
        color: var(--font-color) !important;
      }
    }

    trade-order-book-total {
      .order-sum {
        color: var(--font-color) !important;
      }
    }

    trade-order-book-menu {
      .item {
        color: var(--font-color) !important;
        background-color: var(--bg-color) !important;
      }

      .inp-item {
        border-radius: 0 !important;
      }

      .item .toggle-item .toggle .slider {
        background-color: transparent !important;
      }

      .toggle {
        background-color: var(--disabled-color) !important;

        input:not(:checked) + .slider {
          .state1 {
            background-color: var(--bg-color) !important;
            color: var(--active-font-color) !important;
          }
        }

        input:checked + .slider {
          .state1 {
            background-color: var(--disabled-color) !important;
          }

          .state2 {
            background-color: var(--bg-color) !important;
            color: var(--active-font-color) !important;
          }
        }
      }
    }
  }

  trade-order-form {
    .ui-tab-content {
      background-color: var(--bg-color) !important;
    }

    .item,
    .unit,
    label,
    .btn-set-quick-amount button,
    dt,
    dd,
    .num,
    .text {
      color: var(--font-color) !important;
    }

    .tab-item-buy:not(.is-active),
    .tab-item-sell:not(.is-active) {
      background-color: var(--disabled-color) !important;
    }

    trade-order-content {
      .btn-minus {
        border: none !important;
      }

      .btn-plus {
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
      }
    }
  }

  trade-order-history {
    .ui-tab-item,
    .ui-tab-content,
    .box-button {
      background-color: var(--bg-color) !important;
      color: var(--font-color) !important;
    }

    .ui-tab-item.is-active {
      &::after {
        background-color: var(--highlight-color) !important;
      }
    }

    .msg,
    .text {
      color: var(--font-color) !important;
    }

    .order-unsigned {
      color: var(--font-color) !important;
    }

    .order-total,
    .row-trade-time {
      color: var(--sub-font-color) !important;
    }

    .popover {
      background-color: var(--bg-color) !important;
      border: 1px solid var(--body-color) !important;

      .po-row-unit {
        color: var(--font-color) !important;
      }

      .btn-close {
        color: var(--font-color) !important;
      }
    }
  }

  trade-chart {
    button,
    .btn-close,
    .btn-close:hover,
    .btn-dropdown:hover {
      background-color: #fff !important;
      color: #424242 !important;
    }

    .btn-interval.is-selected {
      background-color: rgba(66, 66, 66, 0.12) !important;
    }

    .layout-save {
      border: none !important;

      &:hover {
        background-color: #fff !important;
      }
    }

    .trd-chart-btn-private,
    .trd-chart-btn-public {
      border: none !important;

      &:hover {
        background-color: inherit !important;
      }
    }

    .dropdown-menu {
      background-color: #fff !important;
    }

    .inp-item {
      background-color: #fff !important;

      &.is-focus {
        border: 1px solid var(--border-color) !important;
      }

      input {
        background-color: #fff !important;
      }
    }
  }

  .transaction-amount {
    background-color: var(--bg-color) !important;

    .num-amount {
      color: var(--font-color) !important;
    }
  }

  .shortcut-group-title,
  .timezone-item,
  .t-nickname {
    color: var(--font-color) !important;
  }

  .footer {
    .link-item,
    .tel-area,
    .link-tel {
      color: var(--sub-font-color) !important;
    }

    .support-time,
    .copyright {
      color: var(--font-color) !important;
    }
  }
}
