@-moz-document url-prefix("https://coinone.co.kr/support")
{
  .static-container {
    background-color: var(--body-color) !important;

    &::before,
    &::after {
      background-image: none !important;
    }
  }

  p,
  ul li {
    color: var(--sub-font-color) !important;
  }

  .fee-item {
    background-color: var(--body-color) !important;
  }

  .table-inner-scroll {
    .thead-list {
      background-color: var(--bg-color) !important;

      .item {
        color: var(--font-color) !important;
      }
    }

    .tbody-wrap,
    .tbody-wrap li {
      background-color: var(--body-color) !important;

      .item {
        color: var(--sub-font-color) !important;
      }
    }

    .tbody-wrap li {
      border-bottom: none !important;
    }
  }
}
