@-moz-document regexp("^https?://coinone.co.kr/(\\?[\\S]*)?") {
  landing-main {
    .cover-filter-area {
      .cover-filter-item {
        color: var(--font-color) !important;

        &.is-active,
        &:hover {
          color: var(--active-font-color) !important;

          &::after {
            background-color: var(--active-font-color) !important;
          }
        }
      }
    }

    .app-download-fixed-layer {
      .bottom-banner {
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);
      }

      .slogan {
        color: var(--font-color) !important;
      }
    }

    .cover-area {
      .volume-label {
        color: var(--font-color) !important;
      }

      .volume-amount {
        color: var(--sub-font-color) !important;
      }
    }

    landing-main-coin-search {
      background-color: var(--bg-color) !important;

      .search-result-area {
        background-color: var(--bg-color) !important;

        .search-result-item {
          color: var(--font-color) !important;
        }

        .full-name {
          color: var(--sub-font-color) !important;
        }
      }

      input {
        background-color: var(--input-bg-color) !important;
      }
    }

    landing-main-cover-market {
      .cover-market-list-area {
        background-color: var(--bg-color);

        th {
          background-color: var(--bg-color) !important;
        }

        tr {
          &.is-active,
          &:hover {
            background-color: var(--active-bg-color) !important;
          }
        }

        .ticker-name {
          color: var(--font-color);
        }

        .full-name {
          color: var(--sub-font-color) !important;
        }

        .go-to-exchange {
          color: var(--sub-font-color) !important;

          &:hover {
            color: var(--font-color) !important;
          }
        }
      }
    }

    landing-main-news {
      .news-area {
        background-color: var(--bg-color) !important;
        border: 1px solid var(--border-color) !important;
      }

      .news-item {
        color: var(--font-color) !important;

        .mini-badge-gray {
          background-color: var(--bg-color) !important;
          border: 1px solid var(--border-color);
          color: var(--active-font-color);
        }

        &.emphasis {
          .news-time {
            color: var(--highlight-color) !important;
          }
        }
      }

      button {
        background-color: var(--bg-color) !important;
        border: 1px solid var(--border-color);
      }
    }

    landing-main-series {
      .section-sub-title,
      .series-title,
      .view-all {
        color: var(--font-color) !important;
      }

      .series-version {
        color: var(--sub-font-color) !important;
      }

      .series-link-area {
        background-color: var(--bg-color);

        &:hover {
          .series-btn {
            background-color: var(--active-bg-color) !important;
          }
        }
      }

      .series-btn {
        color: var(--highlight-color) !important;
      }
    }

    landing-main-notice-info {
      .section-sub-title,
      .view-all {
        color: var(--font-color) !important;
      }

      .info-title-text {
        color: var(--font-color);
      }

      .info-new-badge {
        color: var(--highlight-color) !important;
      }

      .info-summary,
      .info-time {
        color: var(--sub-font-color) !important;
      }
    }

    landing-main-project-info {
      .section-sub-title,
      .view-all,
      .ticker-name,
      .info-title {
        color: var(--font-color) !important;
      }

      .full-name,
      .info-summary,
      .info-time {
        color: var(--sub-font-color) !important;
      }

      .info-new-badge {
        color: var(--highlight-color) !important;
      }
    }

    landing-main-card-event {
      .event-name {
        color: var(--sub-font-color);
      }

      .section-sub-title,
      .event-main-txt {
        color: var(--font-color) !important;
      }

      .card-content {
        @media (min-width: 980px) {
          background-color: var(--bg-color);
        }
      }
    }

    landing-main-snapshot {
      .section-sub-title,
      .snapshot-coin,
      .coin-symbol,
      .coin-name,
      .date-text {
        color: var(--font-color) !important;
      }

      .card-content {
        background-color: var(--bg-color) !important;
        color: var(--font-color) !important;
      }
    }

    landing-main-service-guide {
      .section-sub-title,
      .guide-desc,
      .view-all {
        color: var(--font-color) !important;
      }

      .guide-item {
        @media (min-width: 980px) {
          background-color: var(--bg-color);
        }
      }
    }

    landing-sub-promotion {
      .promotion-label {
        color: var(--sub-font-color) !important;
      }

      .section-sub-title,
      .promotion-title {
        color: var(--font-color) !important;
      }

      .txt-area {
        background-color: var(--bg-color);
      }

      .tag-name {
        color: var(--highlight-color);
      }

      .sub-desc {
        color: var(--sub-font-color);
      }
    }

    landing-main-app-info {
      background-color: var(--bg-color) !important;

      .app-section-title {
        color: var(--font-color) !important;
      }

      .app-section-sub-title {
        color: var(--sub-font-color) !important;
      }
    }

    landing-main-service-info {
      .service-label,
      .service-desc {
        color: var(--sub-font-color) !important;
      }

      .service-title {
        color: var(--font-color);
      }
    }

    landing-main-security {
      .section-title {
        color: var(--font-color);
      }
    }

    .security-section::before {
      display: none !important;
    }

    .card-area::before,
    .guide-area::before,
    .promotion-area::before {
      border: none !important;
      background-color: var(--bg-color) !important;
    }
  }
}
