@-moz-document url-prefix("https://coinone.co.kr/wallet") {
  landing-etc-wallet {
    .landing_header {
      background-color: var(--bg-color) !important;
    }

    li,
    .item_name,
    .wallet_caption {
      color: var(--font-color) !important;
    }

    .caption {
      color: var(--sub-font-color) !important;
    }

    .color_blue {
      color: var(--highlight-color) !important;
    }
  }

  .coinone-wallet-page,
  .landing_section {
    background-color: transparent !important;
  }
}
