@-moz-document url-prefix("https://coinone.co.kr/ico") {
  landing-ico-cosmos {
    .segmented_controls_fee {
      background-color: var(--bg-color) !important;
    }

    .page_section {
      background-color: transparent !important;
    }

    .section {
      color: var(--font-color);
    }

    .border_box {
      background-color: var(--bg-color);
    }

    strong,
    a {
      color: var(--highlight-color) !important;

      > * {
        color: var(--font-color);
      }
    }

    .gray,
    .list_style_disc small {
      color: var(--sub-font-color) !important;
    }
  }

  #body_wrapper {
    landing-cosmos-history {
      .color_darkgray,
      .color_atom {
        color: var(--font-color) !important;
      }
    }
  }
}
