@-moz-document url-prefix("https://coinone.co.kr/listing-guideline") {
  landing-listing-guideline {
    #guidelineWrap {
      background-color: transparent !important;
    }

    h2,
    h4,
    em,
    p {
      color: var(--font-color) !important;
    }

    strong,
    h3,
    a {
      color: var(--highlight-color) !important;
    }

    ul > li {
      color: var(--sub-font-color);
    }
  }
}
