@-moz-document url-prefix("https://coinone.co.kr/docs") {
  landing-docs {
    .docs-container {
      background-color: transparent !important;
    }

    .card-button-link {
      background-color: var(--bg-color);

      &:hover {
        .card-button-icon {
          color: var(--highlight-color) !important;
        }
      }
    }

    .card-button-label {
      color: var(--font-color) !important;
    }

    .card-button-txt {
      .card-button-title {
        color: var(--font-color);
      }

      .card-button-desc {
        color: var(--sub-font-color);
      }
    }

    .breadcrumb-link,
    .section-desc,
    dt,
    dd,
    .bullet-item {
      color: var(--font-color) !important;
    }

    .bullet-box {
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
    }

    .page-desc,
    .sub-txt {
      color: var(--sub-font-color) !important;
    }
  }
}
