@-moz-document url-prefix("https://coinone.co.kr/my/privacy") {
  my-security-manage {
    .page-subtitle {
      color: var(--font-color);
    }

    .box {
      background-color: var(--bg-color) !important;
      color: var(--font-color);
    }

    .box-desc {
      color: var(--sub-font-color) !important;
    }
  }

  my-info-manage {
    p,
    .link-underline {
      color: var(--font-color) !important;
    }

    .info-key,
    .verified-date,
    ul > li {
      color: var(--sub-font-color) !important;
    }
  }

  my-info {
    .my-bottom-section {
      background-color: var(--bg-color) !important;
    }

    p {
      color: var(--font-color) !important;
    }
  }
}
