@-moz-document url-prefix("https://coinone.co.kr/my/security")
{
  my-verification-user {
    .info-txt {
      color: var(--font-color);
    }

    .secure-level {
      color: var(--sub-font-color) !important;
    }
  }

  my-verification-info {
    .more-link {
      color: var(--font-color) !important;

      a::after {
        content: '>';
        height: inherit;
        background-image: none !important;
      }
    }
  }

  my-verifications {
    .verification-item {
      background-color: var(--bg-color);
      color: var(--font-color);

      &.is-active {
        background-color: var(--active-bg-color) !important;

        &::after {
          border-bottom-color: var(--highlight-color) !important;
        }
      }
    }

    .step-title {
      color: var(--font-color) !important;
    }

    .step-desc {
      color: var(--sub-font-color) !important;
    }

    .step-status {
      color: var(--highlight-color) !important;
    }
  }

  my-verification-detail {
    .verification-desc {
      background-color: var(--bg-color) !important;
      border-left: 1px solid;
      border-right: 1px solid;

      p {
        color: var(--font-color) !important;
      }
    }
  }

  my-verification-extra {
    .verification-desc {
      background-color: var(--bg-color) !important;
      border: 1px solid;
    }

    .bullet-square li {
      color: var(--sub-font-color) !important;
    }
  }

  my-verification-support {
    .my-bottom-section {
      background-color: var(--bg-color) !important;
      color: var(--font-color);
    }
  }
}
