@-moz-document url-prefix("https://coinone.co.kr/my")
{
  .my-container {
    background-color: transparent;

    .ui-tab-item {
      span {
        color: var(--font-color);
      }

      &.is-active {
        span {
          color: var(--active-font-color);
        }

        .ui-tab-link::after {
          background-color: var(--active-font-color) !important;
        }
      }
    }
  }

  .page-title,
  .ui-tab-list {
    background-color: var(--bg-color) !important;
  }

  .my-section {
    background-color: transparent !important;
  }

  .link-right-chevron {
    &:not(.color-primary) {
      color: var(--font-color) !important;

      &::before {
        color: var(--font-color) !important;
      }

      &::after {
        content: '>';
        height: inherit;
        background-image: none !important;
      }
    }
  }

  .sub-page-content {
    background-color: var(--bg-color) !important;

    p {
      color: var(--font-color) !important;
    }
  }

  .form-label {
    color: var(--sub-font-color) !important;
  }
}
