@-moz-document url-prefix("https://coinone.co.kr/plus/overview") {
  plus-report {
    .tit-section {
      color: var(--font-color);
    }

    .descset-report {
      .desc-title,
      .desc-detail {
        background-color: var(--bg-color) !important;
      }

      .desc-title {
        color: var(--sub-font-color) !important;
      }

      .desc-detail {
        color: var(--font-color) !important;
      }
    }

    .info-date {
      color: var(--sub-font-color) !important;
    }
  }
}
