@-moz-document url-prefix("https://coinone.co.kr/promotion/referral") {
  promotion-referral-banner {
    background-color: var(--bg-color);

    .sub-copy {
      color: var(--font-color) !important;
    }
  }

  promotion-referral-user-info {
    background-color: var(--bg-color);

    .inner {
      background-color: var(--bg-color) !important;
      color: var(--font-color) !important;

      .user-name,
      .desc {
        color: var(--font-color) !important;
      }
    }
  }

  promotion-referral-code-list {
    p,
    dt,
    dd {
      color: var(--font-color) !important;
    }
  }

  promotion-referral-code-item {
    .code-item {
      background-color: var(--bg-color);

      .btn-add-code {
        border-radius: 5px;
        color: var(--font-color) !important;

        &:hover {
          background-color: var(--active-bg-color) !important;
        }
      }
    }
  }

  promotion-referral-reward {
    .text-tit {
      color: var(--font-color) !important;
    }
  }

  promotion-referral-reward-summary {
    .desc {
      color: var(--font-color) !important;
    }
  }

  promotion-referral-daily-reward-list {
    .no-data {
      background-color: var(--bg-color);
    }

    p,
    .btn-move {
      color: var(--font-color) !important;
    }
  }
}
