@-moz-document url-prefix("https://coinone.co.kr/swap") {
  .swap-title,
  .text,
  .icon-coin,
  .label-select,
  .coin-symbol,
  .coin-name,
  .unit,
  .slot-from,
  .slot-to,
  .btn-picker-amount,
  .num {
    color: var(--font-color) !important;
  }

  .swap-sub-title,
  .filter,
  .closing-price,
  .report-cont {
    color: var(--sub-font-color) !important;
  }

  .inp-item {
    background-color: var(--input-bg-color) !important;

    input {
      color: var(--font-color) !important;
    }
  }

  .dropdown-toggle {
    border: none !important;
  }

  swap-pair-quotes {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);

    .closing-price-num,
    .quote-num {
      color: var(--active-font-color) !important;
    }

    .transaction-type {
      .icon {
        color: var(--font-color) !important;
      }
    }
  }

  swap-pair-info {
    .section-box {
      background-color: var(--bg-color) !important;
      border: 1px solid var(--border-color) !important;
    }

    .link-coin-spec {
      color: var(--font-color) !important;

      &:hover {
        color: var(--active-font-color) !important;
      }
    }
  }

  swap-pair-order {
    .section-box {
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
    }

    .input-item--to {
      .inp-item {
        border: none !important;
      }
    }

    .button-set--link {
      a:hover {
        background-color: var(--active-bg-color) !important;
      }
    }

    label {
      color: var(--sub-font-color) !important;

      .badge {
        background-color: var(--bg-color) !important;
        border: 1px solid var(--border-color);
        color: var(--highlight-color) !important;
      }
    }

    .symbol-asset {
      color: var(--sub-font-color);
    }
  }
}
