@-moz-document url-prefix("https://coinone.co.kr/user/signup/form") {
  user-signup-form {
    .form-label {
      color: var(--font-color);
    }

    input {
      background-color: var(--input-bg-color) !important;
      border: 1px solid var(--border-color);
      color: var(--font-color) !important;
    }

    .bullet-box {
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);

      .bullet-item {
        color: var(--font-color) !important;
      }
    }

    .captcha-container {
      background-color: var(--bg-color);
      border: 1px solid var(--border-color);
    }

    .form-info-txt {
      color: var(--sub-font-color);
    }
  }
}
