@-moz-document url-prefix("https://coinone.co.kr/user/signup") {
  .user-container {
    background-color: transparent;
  }

  user-signup-nav {
    .form-step-item {
      color: var(--font-color) !important;

      .step-icon {
        background-color: var(--bg-color) !important;
        border: 1px solid var(--border-color);
      }

      &.is-active {
        color: var(--active-font-color) !important;

        .step-icon {
          background-color: var(--active-font-color) !important;
          color: var(--sub-font-color) !important;
        }
      }
    }
  }
}
