@-moz-document domain("coinone.co.kr") {
  :root {
    --bg-color: bg-color;
    --input-bg-color: input-bg-color;
    --active-bg-color: active-bg-color;
    --border-color: border-color;
    --font-color: font-color;
    --active-font-color: active-font-color;
    --sub-font-color: sub-font-color;
    --highlight-color: highlight-color;
    --disabled-color: disabled-color;
  }
}
