@-moz-document domain("coinone.co.kr") {
  /*
	 * --input-bg-color = --bg-color + 080808
   * --active-bg-color = --bg-color + 0f0f0f
	 * --active-font-color = --font-color + 262626
	 * --sub-font-color = --font-color - 1e1911
	 */

  :root {
    if theme == dark {
      --body-color: #181818;
      --bg-color: #1e1e1e;
      --input-bg-color: #4b4b4b;
      --active-bg-color: #2f2f2f;
      --border-color: #444;
      --font-color: #ccc;
      --active-font-color: #f2f2f2;
      --sub-font-color: #aeb3bb;
      --highlight-color: #f97b40;
      --disabled-color: #bbb;
    }
    else if theme == haberdashery {
      --body-color: #073642;
      --bg-color: #0d3f49;
      --input-bg-color: #0f3e4a;
      --active-bg-color: #1e4d59;
      --border-color: #204952;
      --font-color: #2c9984;
      --active-font-color: #6cd3be;
      --sub-font-color: #6db6c2;
      --highlight-color: #f97b40;
      --disabled-color: #bbb;
    }
    else if (theme == expensive) {
      --body-color: #b8b390;
      --bg-color: #c9c49c;
      --input-bg-color: #d1cca4;
      --active-bg-color: #d8d3ab;
      --border-color: #71715f;
      --font-color: #71715f;
      --active-font-color: #494938;
      --sub-font-color: #53584e;
      --highlight-color: #32440b;
      --disabled-color: #bbb;
    }
    else if (theme == terminal) {
      --body-color: #1a2b23;
      --bg-color: #1f3d2b;
      --input-bg-color: #22332b;
      --active-bg-color: #293a32;
      --border-color: #71715f;
      --font-color: #4ee077;
      --active-font-color: #94e9b0;
      --sub-font-color: #30c766;
      --highlight-color: #f97b40;
      --disabled-color: #bbb;
    }
    else if (theme == sweetTreat) {
      --body-color: #ffc2c0;
      --bg-color: #ffeeed;
      --input-bg-color: #eaeaea;
      --active-bg-color: #fff;
      --border-color: #edd8dd;
      --font-color: #a5819c;
      --active-font-color: #ad5797;
      --sub-font-color: #87688b;
      --highlight-color: #5a2a4d;
      --disabled-color: #bbb;
    }
    else if (theme == banana) {
      --body-color: #ffc806;
      --bg-color: #ffeb84;
      --input-bg-color: #eaeaea;
      --active-bg-color: #fff;
      --border-color: #eed57c;
      --font-color: #ac7e5c;
      --active-font-color: #9c5f32;
      --sub-font-color: #8e654b;
      --highlight-color: #000;
      --disabled-color: #bbb;
    }
    else if (theme == chocoMint) {
      --body-color: #42362b;
      --bg-color: #3a2515;
      --input-bg-color: #5c4d40;
      --active-bg-color: #4b2f17;
      --border-color: #65584c;
      --font-color: #a9a29b;
      --active-font-color: #cfc8c1;
      --sub-font-color: #8b898a;
      --highlight-color: #08775d;
      --disabled-color: #bbb;
    }
    else if (theme == discotheque) {
      --body-color: #330606;
      --bg-color: #550707;
      --input-bg-color: #722323;
      --active-bg-color: #792a2a;
      --border-color: #792e24;
      --font-color: #ffd476;
      --active-font-color: #ffecbc;
      --sub-font-color: #e1bb65;
      --highlight-color: #f46767;
      --disabled-color: #bbb;
    }
    else if (theme == eggplant) {
      --body-color: #5c2c5d;
      --bg-color: #3c063e;
      --input-bg-color: #643465;
      --active-bg-color: #6b3b6c;
      --border-color: #7a5768;
      --font-color: #cc91c8;
      --active-font-color: #eed6ed;
      --sub-font-color: #b08ac2;
      --highlight-color: #fff;
      --disabled-color: #bbb;
    }
    else if (theme == hoth) {
      --body-color: #e5e6e8;
      --bg-color: #f8f8fa;
      --input-bg-color: #fff;
      --active-bg-color: #fff;
      --border-color: #c3c3c3;
      --font-color: #989b9f;
      --active-font-color: #bec1c5;
      --sub-font-color: #7a828e;
      --highlight-color: #c5c5c5;
      --disabled-color: #bbb;
    }
    else if (theme == bull) {
      --body-color: #b51c1c;
      --bg-color: #e12343;
      --input-bg-color: #fff;
      --active-bg-color: #e12343;
      --border-color: #000;
      --font-color: #eadbdb;
      --active-font-color: #fff;
      --sub-font-color: #c1c5cc;
      --highlight-color: #ffb0b0;
      --disabled-color: #bbb;
    }
    else if theme == custom {
      --body-color: body-color;
      --bg-color: bg-color;
      --input-bg-color: input-bg-color;
      --active-bg-color: active-bg-color;
      --border-color: border-color;
      --font-color: font-color;
      --active-font-color: active-font-color;
      --sub-font-color: sub-font-color;
      --highlight-color: highlight-color;
      --disabled-color: disabled-color;
    }
  }
}
